
@font-face {
    font-family: "BitcountGrid";
    src: url("/src/assets/fonts/BitcountGridDouble-VariableFont.ttf") format("truetype");
    font-style: normal;
}

@font-face {
    font-family: "KodeMono";
    src: url("/src/assets/fonts/KodeMono-VariableFont_wght.ttf") format("truetype");
    font-style: normal;
}

@theme {
    --font-display: "KodeMono";
    --font-stylish: "BitcountGrid";

    --color-darker: #000000;
    --color-dark: #14213D;
    --color-primary: #FCA311;
    --color-light: #E5E5E5;
    --color-lighter: #ffffff;

}

#root {
    background-color: var(--color-dark);
    min-height: 100vh;
    color: white;
    font-family: var(--font-display);
}

h2 {
    font-size: 22px;
    font-weight: 550;
    color: var(--color-primary);
}

p.desc-string {
    color: var(--color-light);
}
